@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

// Fonts Variable
$font-stack: "Poppins",
sans-serif;

// Colors Variable
$bg-color: #05a1cb;
$color-primary: #30b9e4;
$color-secondary: #ffffff;
$color-third: #92d2e6;

// Buttons Color
@mixin primary-btn($color-primary) {
  background: $color-primary;

  &:hover {
    background: darken($color-primary, 8%);
    transition: all 0.3s ease;
  }

  &:active {
    background: darken($color-primary, 25%);
  }
}

$btn-color: #30b9e4;

body {
  font-family: $font-stack;
}

.btn {
  color: white;
  text-decoration: none;
  padding: 15px 45px;
  border-radius: 4px;
  font-size: 1rem;
  filter: drop-shadow(2px 2px 4px rgba(black, 0.5));
}

.btn-outline {
  background: transparent;
  border: 1px solid white;
  color: white;
  transition: all 0.3s ease;
}

// Hero Section Styles
.hero-section {
  background-color: $bg-color;
  height: 80vh;

  // Custom Styling Buat Navigasi
  #navbar {

    .navbar-brand {
      @media screen and (max-width: 576px) {
        font-size: 1.5rem;
      }

      font-size: 2rem;
      font-weight: 700;
      color: $color-secondary;
    }

    .navbar-toggler {
      @media (max-width: 576px) {
        margin: auto;
      }
    }
  }

  .nav-link {
    margin-right: 15px;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: $color-secondary;

    &:hover {
      color: $color-primary;
    }
  }

  .hero-content {
    @media screen and (max-width: 576px) {
      display: flex;
      flex-direction: column;
    }

    h1 {
      font-size: 4rem;

      @media (max-width: 576px) {
        font-size: 2rem;
        text-align: center;
        line-height: 1.5;
      }
    }

    p {
      font-size: 1.5rem;

      @media (max-width: 576px) {
        font-size: 1rem;
        text-align: center;
        line-height: 1.5;

      }
    }
  }
}

// End Custom Styling Buat Navigasi

// Strength Section
.strength_section {
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;

  .course_section {
    .card {
      width: 100px;
      height: 100px;
      margin-left: 150px;
      margin-bottom: 18px;
      // border: none;

      img {
        width: 100%;
        height: 100%;
      }
    }

    h4 {
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
    }

    p {
      margin-top: 18px;
      font-size: 18px;
      line-height: 27px;
    }

  }
}

// End Styling Strength Section

// About Section
.about_container {
  .about_section {
    background-color: $color-third;
    padding: 3rem;

    .mask_section {
      .img-fluid {
        width: 100%;
        height: 100%;
      }
    }

    .mask_section {
      @media screen and (max-width: 576px) {
        display: none;
      }

    }

    .col-8 {

      @media screen and (max-width: 576px) {
        width: 100%;

        h1 {
          font-size: 2rem;
          text-align: center;
        }

        .btn-tentang {
          display: flex;
          justify-content: center;
          flex-direction: column;

          button {
            margin: 10px 0;
          }
        }
      }
    }

    h1 {
      color: $color-secondary;
      font-weight: bold;
      font-size: 3rem;
      line-height: 1.5;

      @media screen and (max-width: 576px) {
        font-size: 2.5rem;
      }
    }


    .about_text {
      color: white;

      p {
        // margin: 25px 90px 40px 0;
        font-size: 1rem;

        @media screen and (max-width: 576px) {
          margin: 1rem auto;
          text-align: center;
        }
      }
    }
  }
}

// End About Section

// Kursus Section
.kursus-section {
  margin-top: 6.25rem;

  .section-title-kursus {
    margin-bottom: 4rem;
    font-weight: 800;
    font-size: 3rem;
    text-align: center;

    @media screen and (max-width: 576px) {
      font-size: 2rem;
    }

  }

  @media screen and (max-width: 576px) {

    .kursus-container {
      position: relative;
      color: white;
      margin-bottom: 2rem;
      padding: 0;
    }

    .kursus-img {
      width: 94vw;
      height: 60vh;
      filter: blur(3px) grayscale(0.5);
    }
  }

  #image-order {
    order: 2;
  }

  #text-order {
    order: 1;
  }


  .kursus-content {
    padding: 88px 105px;

    h3 {
      font-weight: 600;
      font-size: 2.25rem;
    }

    button {
      align-self: start;
    }

    p {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }

    @media screen and (max-width: 576px) {
      // background-color: rgba($color: #0000005d, $alpha: 0.5);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0 3rem;
      text-align: center;

      h3 {
        font-size: 1.5rem;
      }

      button {
        align-self: center;
      }
    }
  }

  table {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .table-heading {
    font-weight: bold;
  }

  tr {
    height: 1.5rem;

  }

  td {
    width: 30%;
    height: 21px;
  }

  .modal-body,
  .modal-footer {
    p {
      margin-bottom: 10px;
      margin-top: 0;
    }

    button {
      align-self: center;
    }

    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

// Daftar Section
.daftar-section {
  .heading-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .section-title-daftar {
      margin-top: 4rem;
      font-weight: 700;
      font-size: 3rem;

      @media screen and (max-width: 576px) {
        font-size: 2rem;
      }

    }

    .section-subtitle-daftar {
      margin-bottom: 2rem;
      font-weight: 400;
      text-align: center;
    }
  }

  @media screen and (max-width: 576px) {
    .btn-grup {
      width: 70%;
    }
  }

  .btn-wa {
    background-color: #2ecc71;
    border: none;
    margin-bottom: 1rem;


    &:hover {
      background: darken(#2ecc71, 8%);
      transition: all 0.3s ease;
    }

    &:active {
      background: darken(#2ecc71, 25%);
    }
  }
}

// Testimoty Section Style

.testimony_section {
  margin-top: 100px;

  .card_section {
    display: flex;
    flex-direction: column;
  }

  .testimony_text {
    margin-bottom: 2rem;

    h1 {
      font-weight: bold;
      font-size: 3rem;

      @media screen and (max-width: 576px) {
        font-size: 2rem;
      }


    }

    p {
      font-weight: 200;
      font-size: 1rem;
    }
  }

  .card {
    display: flex;
    justify-content: space-around;
    background-color: $bg-color;
    width: 310px;
    height: 300px;
    border-radius: 10px;
    margin: auto;
    padding: 1rem 1.875rem;
    color: white;

    .stars_group {
      display: flex;
      flex-direction: row;
      justify-content: start;
      color: white;

      .fa-star {
        font-size: 1.5rem;
        margin-right: 1rem;
      }
    }

    p {
      font-size: 0.75rem;
    }
  }


  .testimony_picture {
    display: flex;

    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }

    .testimony_review {
      margin-left: 1rem;

      P {
        font-size: 13px;
      }
    }
  }
}

//End Of Testimony Section Style

// Footer Section

.footer_section {

  background-color: $bg-color;
  margin-top: 100px;
  color: white;

  .footer_content {
    @media screen and (max-width: 576px) {
      display: flex;
      flex-direction: column;

      .footer-about {
        order: 3;
      }

      .col-4 {
        width: 100%;
        margin-bottom: 2rem;
      }

      .footer_navigasi {
        text-align: center;
      }

      .footer_maps {
        iframe {
          width: 100%;
          height: auto;
        }
      }
    }

    padding-top: 62px;

    .footer_title {
      h1 {
        font-size: 36px;
        font-weight: bold;
      }

      p {
        font-size: 18px;
        line-height: 27px;
        font-weight: 300;
      }
    }

    .footer_navigasi {
      h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
      }

      a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        line-height: 27px;

        &:hover {
          color: $color-primary;
        }

        &:active {
          color: lighten($color-primary, 50%);
        }

        li {
          list-style: none;
          padding: 10px 0;
        }
      }
    }

    .footer_contact {
      h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
      }

      p {
        font-size: 18px;
        line-height: 27px;
      }

      .logo_contact {
        a {
          font-size: 2.5rem;
        }
      }
    }
  }
}

//End Of Footer Section