@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

// Fonts Variable
$font-stack: "Poppins", sans-serif;

// Colors Variable
$bg-color: #05a1cb;
$color-primary: #30b9e4;
$color-secondary: #ffffff;

// Buttons Color
$btn-color: #30b9e4;

body {
  font-family: $font-stack;
}

// Hero Section Styles
.hero-section {
  background-color: $bg-color;
  height: 80vh;

  // Custom Styling Buat Navigasi
  .navbar-dark .navbar-nav .nav-link {
    color: $color-secondary;

    &:hover {
      color: $color-primary;
    }
  }

  // End Custom Styling Buat Navigasi
}

// Strength Section
.strength_section {
  padding-top: 100px;
  .course_section {
    .card {
      width: 100px;
      height: 100px;
      // background-color: $bg-color;
      margin-left: 150px;
      margin-bottom: 18px;
      border: none;
      img {
        width: 100%;
        height: 100%;
      }
    }
    h4 {
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
    }
    p {
      margin-top: 18px;
      font-size: 18px;
      line-height: 27px;
    }
    .private_text {
      width: 50%;
      margin-left: 100px;
    }
    .flex_schedule {
      width: 60%;
      margin-left: 100px;
    }
  }
}
// End Styling Strength Section
