@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');

// Fonts Variable
$font-stack: 'Poppins',
sans-serif;

// Colors Variable
$bg-color: #05A1CB;
$color-primary: #30B9E4;
$color-secondary: #ffffff;

// Buttons Color
$btn-color: #30B9E4;



body {
    font-family: $font-stack;
}


// Hero Section Styles
.hero-section {
    background-color: $bg-color;
    height: 80vh;

    // Custom Styling Buat Navigasi
    .navbar-dark .navbar-nav .nav-link {
        color: $color-secondary;

        &:hover {
            color: $color-primary;
        }
    }

    // End Custom Styling Buat Navigasi

}